RUSERS=somebody@somewhere
RSUPPORT=somebody@somewhere

# Setting the path in RENV before the call to $(R) is only needed by
# some packages configurations (e.g. fame) which need it to find R.
RENV=FAME=$(FAME) PATH=$(RPATH)/bin:$(PATH)

# you will need this set to do  "make devel"
# DEVELREPOS="http://R-Forge.R-project.org"
# OTHERDEVELREPOS=

OTHERREPOS="http://www.omegahat.org/R"
OTHERREPOSPKGS=RCurl SSOAP

# The DEVEL distinction is only for packages which are developed at your site,
# so you can make a distinction between these packages and fresh version of
# other packages  they need. If this situation does not apply, you can just 
# set SITE and FRESH.

FRESHnotDEVEL:=quadprog quantmod gtools gdata date urca PerformanceAnalytics \
mgcv fBasics sna copula optimx \
DBI tseries zoo xts its tis WriteXLS RMySQL RSQLite fame RODBC XML \
Hmisc quantreg survival bitops TTR Defaults timeSeries timeDate features googleVis

DEVEL:=tframe tframePlus dse EvalEst CDNmoney GPArotation tsfa numDeriv BB \
TSdbi TSMySQL TSpadi TSfame TSodbc TSSQLite TShistQuote TSgetSymbol TSxls  \
TSzip TSPostgreSQL

SITE:=$(FRESHnotDEVEL) $(DEVEL)
FRESH:=$(FRESHnotDEVEL) $(DEVEL)

# Note tframePlus needs WriteXLS which needs Perl
# bitops from CRAN is needed for RCurl
#  install.packages(pkgs=c("RCurl","SSOAP"), 
#    lib=Sys.getenv("R_LIBS"), 
#    repos="http://www.omegahat.org/R", dependencies=TRUE)
