
##### This file should be renamed Makerules.extra if these rules are    ####
##### to be used. It will then be included by the main Makefile.        ####
##### The library site-library-fresh-notdevel can be built with         ####
####  "make notdevel".  This lib is used by the develMake project       ####
####  makefile rules (R-forge automateR project) for dependencies       ####
####  that are not packages under development.                          ####
#####                                                                   ####
##### BEWARE that this ASSUMES variable DEVEL is set not empty          ####
#####      in Makevars.site.                                            ####

#################################################################
#####   Local R Package Development Configuration           #####
#################################################################

#The library site-library-fresh-notdevel (packages defined by  FRESH and not 
#in DEVEL) is for the purpose of R package development at your own site. 
#This library will not be used by normal users. 
#It has packages needed for development but not actually 
#being developed. The logic of this is to reduce the possibility 
#of accidentally testing with old versions of packages in development (ones
#that have been installed from CRAN in site-library or site-library-fresh).
#
# The packages in  site-library-fresh-notdevel  are just soft links to
# site-library-fresh so the library is updated automatically with
# site-library-fresh. The links are made with
#   make notdevel 
# This target never needs to be redone unless addtional libraries are to
# be added or a new R is installed (so it does not need any special
# cron considerations).


##################################
## site-library-fresh-notdevel  ##
##################################

#site-library-fresh has dependencies for $(FRESH) so
ALLFRESH=${shell  (cd $(RPATH)/site-library-fresh ;  ls -d * )}

FRESHnotDEVEL=$(filter-out $(DEVEL),$(ALLFRESH))

notdevel: $(FRESHnotDEVEL:%=$(RPATH)/site-library-fresh-notdevel/%)
	@echo "linked paclkages in $(RPATH)/site-library-fresh-notdevel to site-library-fresh"

$(FRESHnotDEVEL:%=$(RPATH)/site-library-fresh-notdevel/%): installR
	@$(MKDIR) $(RPATH)/site-library-fresh-notdevel
	@@test -L $@ || ln -s $(RPATH)/site-library-fresh/$(notdir $@)  $@
	@#touch $@


#############################################################
###   Install current  devel version of R    and          ###
###     site-library-fresh-notdevel.    Skip checking.    ###
### This library is the one used by develMake QC system.  ###
###  The devel target is PHONY so it is always redone.    ###
###  Note site-library-fresh-notdevel is installed, not   ###
###   linked to site-library-fresh, since that is not     ###
###   installed in the R-devel version.                   ###
#############################################################

DEV=ftp://ftp.stat.math.ethz.ch/Software/R/
DEVPATH=$(ROBOHOME)R-devel

.PHONY: R-devel $(ROBOHOME)/R-src/R-devel.tar.gz

R-devel: $(ROBOHOME)/R-src/R-devel.tar.gz $(DEVPATH)/bin/Rcmd DevelSiteLibrary

$(ROBOHOME)/R-src/R-devel.tar.gz: 
	@echo making $@ ...
	(cd R-src ;  $(RM) R-devel.tar.gz; wget -o Rwget.log $(DEV)"R-devel.tar.gz")

$(DEVPATH)/bin/Rcmd: $(ROBOHOME)/R-src/R-devel.tar.gz
	@echo making $@ ...
	@$(RM) $(DEVPATH)
	@gunzip -c $< | tar xf -
	(cd $(DEVPATH) ; ./configure --prefix=$(DEVPATH) $(CONFIG_OPTIONS) )
	(cd $(DEVPATH) ; make )
	@touch $@


DevelSiteLibrary: $(FRESHnotDEVEL:%=$(DEVPATH)/site-library-fresh-notdevel/%)

$(FRESHnotDEVEL:%=$(DEVPATH)/site-library-fresh-notdevel/%): $(DEVPATH)/bin/Rcmd
	@echo making $@ ...
	@$(MKDIR) $(DEVPATH)/site-library-fresh-notdevel
	$(Rnsl) 'install.packages(pkgs="$(notdir $@)", lib="$(dir $@)", repos=$(REPOS), INSTALL_opts="--byte-compile") ; q(status=0)'
	@#touch $@
