#RUSERS=somebody@somewhere
#RSUPPORT=somebody@somewhere

REPOS=c("http://cran.r-project.org", "http://www.omegahat.org/R")

# R uses the /tmp directory to install packages unless variable TMPDIR is set.
# The /tmp directory is often marked as noexec in the /etc/fstab file, so
# files under /tmp cannot be executed.  Packages that require compilation
# will thus fail unless TMPDIR is set.
# (The error message is often 'configure' exists but is not executable ...')
#RENV=TMPDIR=~/tmp

#CONFIG_OPTIONS does not need to be set, but can add specific options.
#  --prefix=$(RPATH) could be in CONFIG_OPTIONS but is passed separately 
#CONFIG_OPTIONS=--enable-R-shlib
#Atlas
#see  http://cran.at.r-project.org/doc/manuals/R-admin.html#ATLAS
#CONFIG_OPTIONS=--enable-R-shlib --with-blas="-lptf77blas -lpthread -latlas"
#Goto
#see  http://cran.at.r-project.org/doc/manuals/R-admin.html#Goto-BLAS
# and http://cran.at.r-project.org/doc/manuals/R-admin.html#Shared-BLAS
#CONFIG_OPTIONS=--enable-R-shlib --with-blas="-lgoto2"

# Some tests may need environment variable settings when R is executed.
# (cron jobs may not get setting done in normal sessions, eg in .bashrc )
#RENV=POSTGRES_HOST=192.168.xxx.xxx POSTGRES_DATABASE=xxxx POSTGRES_USER=xxxx POSTGRES_PASSWD=xxxx

# Setting the path in RENV before the call to $(R) is only needed by
# some packages configurations (e.g. fame) which needs it to find R.
#RENV=FAME=$(FAME) PATH=$(RPATH)/bin:$(PATH)

# The DEVEL distinction is only for packages which are developed at your site,
# so you can make a distinction between these packages and fresh versions of
# other packages  they need. If this situation does not apply, you can just 
# set SITE and FRESH.


DEVEL:=setRNG tframe tfplot tframePlus dse EvalEst GPArotation tsfa numDeriv BB \
TSdbi TSsql TSMySQL TSPostgreSQL TSodbc TSSQLite \
TSmisc TScompare TSdata TSfame CDNmoney 

SITE:=$(DEVEL) quadprog quantmod gtools gdata date urca \
PerformanceAnalytics mgcv fBasics sna copula optimx dfoptim deSolve \
DBI tseries zoo xts its tis WriteXLS RMySQL RPostgreSQL RSQLite fame RODBC XML \
Hmisc quantreg survival bitops TTR timeSeries timeDate features \
googleVis RCurl RJSONIO rjson findpython rJava RJSDMX \
fftw polynom igraph randomForest foreach iterators doMC Quandl \
Formula Rcpp ggplot2 

FRESH:=$(SITE)
