#if OS_TAG is simply Linux, Windows, ... it could be set by
OS_TAG=${shell uname}
#
# but it might be used for more specific settings like
#ubuntu32, MPI, ...
#OS_TAG=Linux

# site setting of $R should indicate latest version home, either override, or
ROBOHOME=/home/paul/RoboAdmin
R=$(ROBOHOME)/$(shell cat $(ROBOHOME)/R-src/latest)/

# This is used to set R_LIBS_SITE. 
# It should be a library with latest versions of packages.
SITE_LIB=${R}/site-library-fresh

RESOURCES=SQLLite MySQL PostgreSQL ODBC Perl  Perl_CSVXS \
OTHER_ETSDB

#MPI Oracle-license  Fame-license Bloomberg-license rpcgen PADI


# Next can be set to restricting the server to only do tests which require
# specific resources. However, the savings is not as much as might be imagined,
# since a large part of the work is done anyway, before it is determined
# whether the resource is needed. Setting this is generally discouraged.
# Also, all OS_TAGs require all snippet tests are done by some resource,
# so an OS_TAG will not be possible if the test farm servers are too
# restrictive.  If this gets abused it will need to be disabled.

#RESOURCES-ONLY=SQLLite  MySQL
