# This file (R/Packages/PKG/Makevars-PKG.site ) is only needed if the package is
# installed but being made unavailable for some other reason. 
# It will not usually be needed, but may be necessary for cases where the 
# package is installed but does not work because of a special driver 
# requirement or some other reason.

# If this variable is set to anything then it indicates that the package is
#  not available. THE VALUE IS NOT USED. Its value could be set to a string
#  indicating the reason. (Setting it to either true or false will both
#  indicate the package is not availbe, so these are not a good choice.)
#NOT-AVAILABLE=BECAUSE
